--extra-index-url https://oauth2:${GITLAB_TOKEN}@gitlab.com/api/v4/projects/68232363/packages/pypi/simple
fastapi==0.115.12
uvicorn==0.29.0
pydantic==2.10.6
requests==2.32.3
sqlalchemy==2.0.43
python-dotenv==1.0.1
httpx==0.27.0
croniter==2.0.1
apscheduler==3.11.0
pyjks==20.0.0
websockets==11.0.3
python-dateutil>=2.8.1
PyJWT>=2.0.1
cryptography>=3.4.6
typing-extensions>=3.7.4.3
gluesync-sdk==0.0.6